@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/New_york_times_square-terabass.jpg/1200px-New_york_times_square-terabass.jpg");
  height: 100vh;
}
.asder > .my-btn {
    display: none;
  }
  .asder:hover> .my-btn{
      background: red ;
      display: flex;

      
  
  }
